<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="HumorousWanderers" />
    {% load bootstrap5 %} 
    {% bootstrap_css %}
    {% bootstrap_javascript %} 
    {%block config%} 
    
    {%endblock config%}
    <link rel="icon" href="/media/logos/icon.jpg" type="image/x-icon" />
  </head>

  <body
    style="
      background-image: url('/media/logos/login_background.jpg');
    "
  > 
  {% if messages %} 
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
      </div>
    {% endfor %} 
  {% endif %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
